.verticalSpace{
    margin-top: 10px;
}

a,a:hover,a:visited{
    color: white;
    text-decoration: none;
}

.center{
    text-align: center;
}

.nameLink,.nameLink:hover,.nameLink:visited{
    color: rgb(73, 73, 255);
}

.error{
    color: red;
    font-size: 14px;
}